<div class="docs-header pa" id="content">
    <audio src="music/Musique-film-Dunkerque.mp3" controls autoplay loop> 
            HTML5 audio not supported
    </audio>
    <canvas id="mycanvas">你的浏览器不支持canvas</canvas>
    <div class="container" >
  	{% if page.title == 'Marvin Galaxy' %}
        <h1>{{ site.name }}</h1>
        <p>{{ site.description }}</p>
    {% else %}
        <!--
		    <h1>{{ page.title }}</h1>
		    <p>Post on {{ page.date | date: "%b %d, %Y" }} by <a href="/about">{{ site.author }}</a></p>
		-->
        <h1>{{ site.motto }}</h1>
    {% endif %}
  </div>
</div>